body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.1rem;
    background: rgb(60, 78, 97);
}

@font-face {
    font-family: HKGroteskPro;
    font-weight: 900;
    src: url(../fonts/HK%20Grotesk%20Pro/HKGroteskPro-SemiBold.woff2) format("woff2"), url(../fonts/HK%20Grotesk%20Pro/HKGroteskPro-SemiBold.woff) format("woff")
}

footer {
    margin-top: auto;
}

a {
    color: #90c5ff;
}


.navbar-dark > .container::after {
    border-top: 0px;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: inherit;
        background-color: transparent;
    }
}

@media (max-width: 991.98px) {
    .navbar-submenu {
        background-color: transparent;
    }
}

@media (min-width: 991.98px) {
    .navbar-submenu {
        background-color: #26293d;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        transition: none;
    }
}

.bg-super-dark {
    background-color: #1e222b !important;
}


.bg-contain {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.highlight pre {
    padding: 0 0 0 15px;
    margin: 0;
}

.card-img-top-blog {
    min-height: 10em;
    object-fit: cover;
}

.card-body {
    padding: 0 2rem 1rem 2rem;
}

.card-body-pricing {
    padding: 3rem 3rem 3rem 3rem;
}

.bg-really-dark {
    background-color: #353A40 !important
}


.note {
    background: #d9e0e9;
    color: #3f3f5a;
    line-height: 1.4;
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1rem;
    border-radius: 5px;
}

.note::before {
    content: "ℹ️ Note: ";
    font-weight: 900;
}

.warning {
    background: #f7f7f7;
    color: #3f3f5a;
    line-height: 1.4;
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1rem;
    border-radius: 5px;
}

.warning::before {
    content: "⚠️️ Attention: ";
    font-weight: 900;
}

.error {
    background: #f7f7f7;
    color: #3f3f5a;
    line-height: 1.4;
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1rem;
    border-radius: 5px;
}

.error::before {
    content: "🚨 ";
    font-weight: 900;
}

.fe {
    position: relative;
    top: 1px;
}

.fe-reset {
    position: relative;
    top: 0px;
}

.fe-1 {
    position: relative;
    top: 1px;
}

.fe-2 {
    position: relative;
    top: 2px;
}

.fe-3 {
    position: relative;
    top: 3px;
}

.right {
    height: 250vh;
    overflow: hidden;
    overflow-y: scroll;
}

blockquote {
    border-left: 2px solid #c0c0d1;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 3rem;
    margin-bottom: 0rem;
    border-radius: 0 5px 5px 0;
    text-align: justify;
}

blockquote:before, blockquote:after {
    position: absolute;
    color: #f1efe6;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
}

blockquote p {
    margin-bottom: 0;
}

cite {
    line-height: 3;
    display: block;
    text-align: right;
}


figcaption {
    background-color: rgba(34, 34, 34, 0.4);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


.code {
    overflow-y: auto;
    position: relative;
    color: #d677a3;
}

.code::before {
    font-size: 1rem;
    display: block;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    color: #86aae0;
    background-color: #e7eef6;
}

.copy-code {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 10px;
    color: #52585f;
}

.copy-code:hover {
    color: #007bff;
}

.code.javascript::before {
    content: "Javascript";
}

.code.java::before {
    content: "Java";
}

.code.c\#::before {
    content: "C#";
}

.code.python::before {
    content: "Python";
}

.code.shell::before {
    content: "Shell";
}

.code pre {
    background-color: #26293d !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hljs {
    background: #303240;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.blog-content h1 {
    margin-top: 1em;
}

.blog-content figcaption {
    margin-bottom: 1em;
}


.toc {
    margin-top: 1.5em;
}


.toc-link-active {
    color: rgb(117, 117, 117);
    font-weight: 500;
}

.toc-link-active-last {
    font-weight: 900;
    margin-left: 0.5em;
    text-decoration: none;
    color: #007bff;
}

.nav-link.profile span {
    color: rgb(117, 117, 117);
    font-weight: 500;
}

.nav-link.profile.active span {
    color: #D06763;
    font-weight: 900;
}


.quiz-answer label {
    cursor: pointer;
}

.quiz-answer {
    cursor: pointer;
}

.quiz-answer.quiz-disabled {
    cursor: auto;
}


.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 4px solid;
    border-color: inherit;

    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}


.profile-picture {
    min-width: 256px;
    min-height: 256px;
    max-width: 256px;
    max-height: 256px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .25s ease;
    backface-visibility: hidden;
}

.profile-picture:hover {
    opacity: 0.75;
    cursor: pointer;
}

.profile-picture-container {
    position: relative;
    width: 50%;
}

.banner-profile {
    transition: .25s ease;
}

.banner-profile:hover {
    opacity: 0.75;
    cursor: pointer;
}


.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.table td, .table th {
    border-top: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.table {
    background-color: transparent !important;
}

.dropdown-menu {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-width: 12rem;
}

.section-title {
    border-bottom: 0px solid rgb(240, 240, 240);
}

.session {
    padding: 1em;
}

.session:hover {
    background-color: rgb(72, 69, 99);
    cursor: pointer;
}

#plan-de-cours {
    position: fixed;
    z-index: 2;
    height: 75px;
}

.btn-change-session {
    position: absolute;
    z-index: 1;
    top: 50%;
    opacity: 0.4;
}

.btn-change-session:hover {
    opacity: 0.6;
}

#next-course {
    right: 0;
}

.border-left-lg {
    border-left: 3px solid #f1f4f8 !important;
}

#sidebar {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    border-left: 1px solid rgb(60, 60, 60);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 1600px;
    transition: width 0.1s;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: transparent;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 2px solid #2B354F;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 2px solid #2B354F;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

.nav-link.active {
    font-weight: bold;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#signup-block {
    padding-left: 15%;
    padding-right: 15%;
}

@media only screen and (min-width: 992px) {
    #signup-block {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (min-width: 1024px) {
    #signup-block {
        padding-left: 15%;
        padding-right: 15%;
    }
}


.wrapper {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        flex-direction: column;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


#content {
    width: 100%;
    padding: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#session-name {
    margin-top: 0.4rem;
}

.completed-session-mark {
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    border-radius: 3px;
}

.completed-session-mark:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.3);
}

.completed-session-mark:after {
    content: "\2610";
    position: relative;
    left: 8px;
}

.completed-session-mark.checked:after {
    content: "\2714";
    position: relative;
    left: 9px;
}


.completed-section-mark {
    border-radius: 3px;
    margin-right: 2em;
}

.completed-section-mark:after {
    content: "\2610";
    position: relative;
    left: 8px;
}

.completed-section-mark.checked:after {
    content: "\2714";
    position: relative;
    left: 9px;
}


#see-course:hover {
    cursor: pointer;
}

.toc-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-tabs .nav-link {
    border: 1px solid #0c0b0b38;
    border-bottom: 0px;
}


/* HOVER EFFECTS */
/* Grow */
.hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}


/* QUIZ */
.bg-success-light {
    background-color: #AAEED9;
}

.bg-danger-light {
    background-color: #F9B9C1;
}


/* PROGRESS RING */
.progress-ring {

}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* USER INFORMATIONS */
.progress-pills {
    cursor: pointer;
}

.interest-badge, .filter-badge, #session-completed-filter {
    cursor: pointer;
}


.validation-icon {
    position: relative;
    bottom: 1px;
}


/* CODING EXERCISE */
#output-code {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.unittest-case {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    border-radius: 5px;
    border: 1px solid #f1f4f8;
}

.unittest-case p {
    margin-bottom: 0;
    color: #506690 !important;
}


.disabled-card {
    opacity: 0.5;
    border: 1px solid black;
}

i {
    position: relative;
    top: 2px;
}

#toast-container > div {
    opacity: 1;
    -webkit-box-shadow: none;
    border-radius: 7px;
}

.form-control, .form-control:focus {
    color: #fff;
    background-color: transparent;
}

.bg-dark {
    background-color: #1E1E2D !important;
}

.bg-secondary {
    background-color: #26293d !important;
}

.bg-info {
    background-color: rgb(90, 162, 255) !important;
}

.bg-primary {
    background-color: #37bdbb !important;
}

.bg-success-soft {
    background-color: #4D8C7E;
}

.btn-dark {
    background-color: #1E1E2D !important;
}

.border-bottom {
    border-bottom: 1px solid #35354a !important;
}

.text-primary-doc {
    color: #cd6684;
}


.btn-danger {
    background-color: #F31D58 !important;
}

.btn-outline-danger {
    color: #F31D58 !important;
    border-color: #F31D58 !important;
}

.text-danger {
    color: #F31D58 !important;
}

.btn-success {
    background-color: #335070 !important;
}

.text-dark {
    color: #2e3b4d !important;
}

.text-secondary {
    color: #26293d !important;
}

.text-primary {
    color: #37bdbb !important;
}

.btn-primary {
    background-color: #37bdbb !important;
}

.btn-primary-soft {
    background-color: rgba(55, 189, 187, .1) !important;
    color: #5dbbba;
}

.btn-outline-primary {
    color: #37bdbb !important;
    border-color: #37bdbb !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #37bdbb !important;
    border-color: #37bdbb !important;
}

.badge-primary {
    background-color: #37bdbb !important;
}

.border-primary {
    border-color: #37bdbb !important;
}

.onglet.active {
    background-color: #2e3b4d;
    border-radius: 5px 5px 0 0;

    border-bottom: 2px solid #37bdbb;
}

.onglet:hover {
    cursor: pointer;
}


#format-text {
    position: fixed;
    top: 20px;
    left: 100px;
    background-color: #1E1E2D;
    padding: 5px;
    border-radius: 5px;
}


#deviens-dev {
    position: static;
}

/* For mobile phones: */
#background-video {
    object-fit: cover;
    width: 100%;
    height: 15vh;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #background-video {
        height: 65vh;
    }

    #deviens-dev {
        position: absolute;
        width: 40%;
        margin-left: -20%;
        left: 50%;
        top: 25%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

pre {
    color: inherit;
}

.highlight.hljs {
    background-color: transparent;
    padding: 0;
}

.courses-hero-right-play-container {
    -webkit-justify-content: center;
    justify-content: center;
    width: 95%;
    top: 45%;
    z-index: 10;
    position: absolute;
}


.modal-preview-course {
    margin: 1.75rem auto;
    max-width: 1000px;
    position: relative;
    width: auto;
    pointer-events: none;
}

article {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* Pattern styles */
.left-half {
    background-color: #ff9e2c;
    float: left;
    width: 50%;
}

.right-half {
    background-color: #b6701e;
    float: left;
    width: 50%;
}

.btn-podcast {
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: transparent;
}

.btn-podcast:hover {
    cursor: pointer;
}

.btn-apple {
    background-color: #CB67F2;
}

.btn-anchor {
    background-color: #9e48fd;
}

.btn-spotify {
    background-color: #1ec45a;
}

.btn-rss {
    background-color: #E87931;
}

.btn-radiopublic {
    background-color: #DC6E70;
}

.btn-breaker {
    background-color: #82A6EC;
}

.code-snippet-runnable {
    overflow: auto;
    border-radius: 2px 2px 0 0;
    width: 100%;
}

.code-snippet-runnable.norun {
    margin-bottom: 15px;
}


.btn-discord {
    background-color: #7289DA;
}

.dropzone {
    border: none !important;
    padding: 0 !important;
}

.dz-message {
    padding: 1rem .5rem;
    background: transparent;
}

.dz-message:hover {
    color: #536174;
}

.progression-bullets {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    max-height: 6px;
    align-items: center;
}

.progression-bullet {
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.progression-bullet-success {
    background-color: #78f34a;
}

.progression-bullet-failure {
    background-color: #f31d58;
}

.progression-bullet-todo {
    background-color: #1E1E2D;
    border: 2px solid #bbbbbb;
}

.progression-bullet-current {
    background-color: #37bdbb;
    border: 2px solid #bbbbbb;
}

.badge-danger {
    background-color: #F31D58;
}

.search-bar-icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .8125rem 1.25rem;
    margin-bottom: 0;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #869ab8;
    background-color: transparent;
    text-align: center;
    white-space: nowrap;
    border: none;
}

.search-bar-box {
    display: block;
    height: calc(1.6em + 1.625rem + 2px);
    padding: .8125rem 1.25rem;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    background-color: transparent;
    border: 1px solid #40464e;
    border-radius: .375rem 0 0 .375rem;
}

.search-bar-magnifying-glass {
    background-color: #1e1e2d;
    border: 1px solid #40464e;
    border-left: none;
}

.glossary-content h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    color: #fff;
}

.jUBeFw > h2 {
    color: white;
}

.lesson-player-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
}

.no-side-padding {
    padding-right: 0;
    padding-left: 0;
}

.membership-gratuit {
    background: #6619E8;
    background: -webkit-linear-gradient(bottom left, #6619E8, #5F92A2);
    background: -moz-linear-gradient(bottom left, #6619E8, #5F92A2);
    background: linear-gradient(to top right, #6619E8, #5F92A2);
}

.membership-standard {
    background: rgb(238, 174, 202);
    background: linear-gradient(12deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.membership-complet {
    background: #190F5E;
    background: -webkit-linear-gradient(bottom left, #190F5E, #42C3BD);
    background: -moz-linear-gradient(bottom left, #190F5E, #42C3BD);
    background: linear-gradient(to top right, #190F5E, #42C3BD);
}

.membership-mentorat {
    background: #BA86FF;
    background: -webkit-linear-gradient(top right, #BA86FF, #F5A648);
    background: -moz-linear-gradient(top right, #BA86FF, #F5A648);
    background: linear-gradient(to bottom left, #BA86FF, #F5A648);
}

.classement-me {
    transform: translate3d(-15px, -3px, 0);
    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
}


.lesson-player-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 250;
    width: 100vw;
    height: 100vh;
}

#exit-fullscreen {
    z-index: 251;
    max-height: 50px;
    position: fixed;
    top: 5px;
    right: 5px;
}

@media (max-width: 991.98px) {
    .navbar-nav .dropdown-menu {
        min-width: 0;
        padding: 20px;
    }
}


@media (max-width: 991.98px) {
    .navbar-nav .nav-item + .nav-item {
        border-top: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item {
        padding: 0.25rem;
    }
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-item .nav-link {
        color: #fff;
    }
}

code {
    font-size: 1rem;
    color: #de3f6a;
}

.avatar-profile-xl {
    width: 10rem;
    height: 10rem;
    font-size: .75rem;
}


.videodetector {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

.videodetector iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.remove-videodetector {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 999;
    cursor: pointer !important;
    display: none;
    outline: none;
    padding: 10px 20px;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: none;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.remove-videodetector:hover {
    background-color: #c0392b;
}

.videodetector:hover .remove-videodetector {
    display: block;
}


.lp_note > p {
    margin-bottom: 0;
}

.rotate-five {
    transform: rotate(5deg);
}


input[type="radio"].quiz-radio-input {
    display: none;
}

.completed-bar {
    opacity: 1.0;
    -webkit-transition: visibility 1s linear,
    opacity 1s linear;
    -moz-transition: visibility 1s linear,
    opacity 1s linear;
    -o-transition: visibility 1s linear,
    opacity 1s linear;
}


.bg-primary-soft {
    background-color: rgba(55, 189, 187, .4) !important;

}


#restricted {
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(30, 30, 45, 0), rgba(30, 30, 45, 1));
    position: absolute;
    bottom: 450px;
}

.quiz-answer p {
    margin-bottom: 0;
}


.parcours-step {
    margin: 0 2px 0 2px;
    transition: background-color 0.2s ease;
    width: 36px;
    height: 36px;
    background-color: #26293d;
    border-radius: 18px;
    color: #e0e0e0;
}

.parcours-step-completed {
    background-color: #f31d58;
    color: white;
}

.parcours-step-current {
    width: 48px;
    height: 48px;
    border: 2px solid #37bdbb;
    color: white;
    font-size: 1.35rem;
    border-radius: 24px;
}

.parcours-step:hover {
    color: white;
    background-color: #37bdbb;
}

.parcours-home {
    width: 64px;
    height: 64px;
    background-color: transparent;
    border-radius: 32px;
}

.parcours-home:hover {
    background-color: #f31d58;
}

.icon-home {
    font-size: 2em;
    position: relative;
    line-height: inherit;
    display: block;
}

.what-is-question-mark {
    opacity: 0.5;
}

.bg-dark-lighter {
    background-color: #313454;
}

.w-35 {
    width: 35% !important
}


.badge-success-pricing {
    background-color: rgba(58, 218, 174, .9);
    color: #fff;
}

.price {
    font-weight: 600;
}

#CookielawBanner {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 500ms ease-out;
}

#CookielawBanner.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 250ms;
}

#solutioncode-text {
    position: absolute;
    right: 0;
    z-index: 3;
    transform: translateX(-25%);
    opacity: .5;
}

.close-release-log {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    position: absolute;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: white;
}


#rss-btn {
    background-color: rgba(242, 101, 34, .1);
    color: rgb(242, 101, 34);
    position: absolute;
    right: 20px;
    top: 0;
}



